@import url(css/fontiran.css);
.a,a:focus,a:link,a:visited,a:hover{
	text-decoration:none !important;
	color:inherit;
}
.wrapper{
	margin:auto;
	width:98%;
}
.loading{
	top:20%;
	display:none;
	right:24%;
	width:77%;
	height:100%;
	position:fixed;
	z-index:999;
	background:#fff;
}
.loading_title{
	font-family:IRANSans;
	color:#434444;
}
.navbar{
	background-color: #05abad; 
	border-color: #05abad;
	border-radius: 0px;
	margin-bottom:70px;
}
.navbar-inverse {
	background-color: #05abad !important;
	border-color: #05abad !important;
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}
.navbar-brand{
	 font-family:IRANSans;
	 font-size:13px;
	 color:#fff;
}

.nav-side-menu a li:hover {
    text-decoration: none !important;
    color:#fff;
    font-family: IRANSans;
}

.navbar-inverse .navbar-toggle {

border-color: #fff;}

.navBar span{
	color:#fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-brand{
    color: #fff !important;
	font-size: 13px !important;
}
.list-group{
	width:70%;
	text-align:right;
	float:right; 
	background-color:#f0f0f0;
	-webkit-box-shadow: 2px 6px 12px 0px rgba(0,0,0,0.4); 
	-moz-box-shadow: 2px 6px 12px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 6px 12px 0px rgba(0,0,0,0.4);
	padding-bottom:20px;
	padding-top:20px;
}

.nav li .dropdown .btn:hover{
	background-color:#05abad;
}

.list-group ul{
	font-family:IRANSans;
	font-size: 13px;
}

.list-group li{
	list-style-type:none;
	padding: 0px 30px 10px 0px;
}

.list-group a{
	transition:0.9s;
}

.list-group a:hover{
	background-color:#05abad !important;
}

.list-group-item:last-child {
	background-color: #f0f0f0;
	border:0px;
}

.list-group li span{
	padding: 0px 5px;
}

.dropdown-menu{
	background-color:#f0f0f0 !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #05abad !important;
    border-color: #05abad !important;
}

.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-right: 0px;
    font-family: IRANSans;
}

.btn-group .btn{
	transition:0.9s;
	text-align:right;
}

.dropdown-menu a{
	text-align:right;
}

.dropdown-menu a:hover{
	background-color:#f0f0f0 !important;
}

.btn-group .btn:hover{
	background-color:#05abad !important;
}
#message{
	font-family:IRANSans;
	text-align:center;
}

.footer{
	height: 45px;
	line-height: 45px;
	margin-top:0px; 
	background-color: #2e353d; 
	border-color:#2e353d; 
	border-radius: 0px; 
	font-family:IRANSans;
	color: #fff;
	font-size: 12px;
	text-align: center;
	margin-top:130px;
}

.table{
	direction:rtl;
}
.longText {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:100%
}
.h3{
	font-family:IRANSans;
	color:#05abad; 
	text-align:center;
	font-size: 22px;
	margin-bottom: 150px;
}
.table{
	text-align: center;
	table-layout:fixed; 
	font-family:IRANSans;
}
.td{
	font-family:IRANSans;
}
.header{
	background-color:#05abad;
	color:#fff;
	font-family:IRANSans;
	text-align:right;
	height:50px;
	line-height:40px;
}	
.meta{
	position:absolute;
	z-index:10;
	top:45% !important; 
	margin: 20px -28px;
}
.meta span{
	color:#fff; 
	font-size:15px;
	font-family:IRANSans;
}
.input span input{
	margin: 30px 0px;  
	border-bottom: solid !important;
	border: none;
	color:#dadada; 
}
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  font-family:IRANSans;
  color:#fff;
  font-size: 14px;
  height:84px;
  line-height: 84px !important;
}
.nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-right: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
/*.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-bottom: 3px solid #05abad;
  background-color: #4f5b69;
}*/
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #05abad;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #05abad;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-right: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu ul .sub-menu a li:hover,
.nav-side-menu li .sub-menu a li:hover {
  background-color: #020203;
  color:#fff;
  text-decoration:none !important;
}
.nav-side-menu li {
  padding-right: 0px;
  border-right: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
  text-align: right;
}
.nav-side-menu a li{
  text-decoration: none;
  color: #fff;
  font-family:IRANSans;
}
.nav-side-menu a li i {
  padding-right: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu a li:hover {
  border-bottom: 3px solid #05abad;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-decoration:none !important;
 /* background-color:#05abad;*/
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: right !important;
    font-size: 22px;
    padding-right: 20px;
    line-height: 50px !important;
	font-family:IRANSans;
  }
}
.input span input {
    width: 40%!important;
	}
.submitBtn .submit{
	color:#fff; 
	background-color:#05abad; 
	padding: 10px 45px !important; 
	border-radius: 20px;
	border: #05abad;
}
.meta span{
	font-size:20px !important;
}
.fullwidth{
	background:#434444;
	width:100%;
	max-height:74vh; 
	overflow:hidden;
	position:relative;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.overlay{
	background:rgba(0,0,0,0.6); 
	background-size:cover;
	width:100%;
	height:100%;
	position:absolute;
	z-index:4;
}
.panel{
	margin-top:50px;
}
.panel-footer1{
	border-radius:8px;
}
.panel-footer{
	background-color:#05abad !important;
	color:#fff;
	font-family:IRANSans;
	border-radius: 5px !important;
}
.panel-footer li{
	display:inline-block;
}
.panel-footer li .glyphicon{
	font-size:26px;
	padding-right: 40px;
	padding-right: 29px;
}


	
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
    display: inline-block;
    text-align: right;
    width: 24%;
	}
	
}
body {
  margin: 0px;
  padding: 0px;
}

@media (min-width: 694px) {
	.input span input {
    width: 70%;
	}
	.meta {
    position: absolute;
    z-index: 10;
    right: 41% !important;
    top: 35%;
    margin: 7px -36px;
	}
	.meta span {
    font-size: 11px !important;
	}
}

@media (min-width: 606px) {
	.input span input {
    width: 70%;
	}
	.meta {
    position: absolute;
    z-index: 10;
    right: 41% !important;
    top: 35%;
    margin: 7px -36px;
	}
	.meta span {
    font-size: 11px;
	}
}

@media (min-width: 280px) {
	.input span input {
	width: 100%;
	}
	.input span input {
    width: 80%;
	}
	.submitBtn .submit{
	padding: 10px 40px !important;
	}
	.meta {
    position: absolute;
    z-index: 10;
    right: 52% !important;
    top: 7%;
    margin: 7px -36px;
	}
	.meta span {
    font-size: 6px;
	}
}





/*.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 100% !important;
  height: 100%;
  color: #e1ffff;
  float:right !important;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-right: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-right: 3px solid #05abad;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #05abad;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #05abad;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-right: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #05abad;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-right: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-right: 0px;
  border-right: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
  text-align: right !important;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  font-family:IRANSans;
}
.nav-side-menu li a i {
  padding-right: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-right: 3px solid #05abad;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
 .brand {
    text-align: right !important;
    font-size: 22px;
    padding-right: 20px;
    line-height: 50px !important;
    font-family: IRANSans;
}
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
*/




